
<ion-content [fullscreen]="true">
  <div class="blue-box">
    <div class="text-box" > 
      FIND A DROPINSOCCER GAME
    </div>
  </div>
   <div class="white-box">

    <div class="lable">SELECT LOCATION</div>
    <input 
       class="input" 
       type="text" 
       placeholder="LOCATION"
       />  
       <div class="lable">DATE</div>
       <input 
          class="input" 
          type="text" 
          placeholder="FEB 03"
          />  
  </div>
</ion-content>
 <ion-footer class="ion-no-border">
  <div class="footer">
    <button class="sign-in" routerLink="/list-studio">FIND GAME</button> 
 </div>
</ion-footer> 

