
<ion-content [fullscreen]="true">
 <div class="bkgrd">
   <div class="inner-bckgrd">
      <div class="top-div">
         <div class="react-alge">
             <img style=" border-radius: 14px; " src={{Image}}/>
            </div>
         <div style="margin:20px 0px;"> 
            <div>{{first_name}} {{last_name}}</div>
            <div style="width: 150px;"> Join since May 2018</div>
         </div>
         <div class="pro" routerLink="/account-info">PRO</div>
      </div>
      <div id="container">
         <div class="top-box">
             <div class="foot-img">
                <img class="img-fot" src="../../assets/football.png"/> 
             </div>  
          </div> 
          <div>
            <div class="textdsply"> 
               <div>PAYMENT</div>
               <div>HISTORY</div>
               <div>SETTINGS</div>
            </div>
           <div class="textdsply">
            <div>CONTACT</div>
            <div>FAQ</div>
            <div style="outline: none;" routerLink="/sign-in">LOG OUT</div>
        </div> 
    </div>
      </div> 
   </div>
 </div>
</ion-content>


