
<ion-content [fullscreen]="true">
   <div class="foot-img">
     <img class="img-fot" src="../../assets/football.png"/> 
      </div>
      <div class="text-div">
      <div class="text">  CALGARY’S ONLY COED SOCCER SINCE 2005 </div>
   </div>
   <div class="text-city">Select your city</div>
   <div>
      <div class="img-tab">CALGARY</div>
      <div class="img-tab1">EDMONTON</div>
  </div>
  
</ion-content>
<ion-footer class="ion-no-border">
  <div class="footer">
      <img class="footer-img"  src="../../assets/icon/fb.png"/> 
      <img class="footer-img"  src="../../assets/icon/insta.png"/> 
 </div>
</ion-footer>

