
<ion-content [fullscreen]="true">
   <div class="sign-up">
      <img src="../../assets/icon/Shape.png"/>
        </div>
          
            <div class="form">
               <div class="lable" style="margin-bottom: 26px !important;">VIP early admission </div> 
               <div class="pswds" > 
                  <img src="../../assets/icon/plus.png"/>
                  <div class="mid">2</div>
                  <img src="../../assets/icon/minus.png"/>
               </div>
               <div class="psws-one">$</div>
               <input 
                 class="input" 
                 type="text" 
                 placeholder="26.06"
                 />
               <div class="lable" >Admission</div>
                <div class="psd" > 
                  <img src="../../assets/icon/plus.png"/>
                  <div class="mid">0</div>
                  <img src="../../assets/icon/minus.png"/>
                </div> 
                <div class="psws-two">$</div>
               <input 
                  class="input" 
                  type="text" 
                  placeholder="36.89"
                  />
               <div class="lable">10 Pass</div>
               <div class="pwd"> 
                  <img src="../../assets/icon/plus.png"/>
                  <div class="mid">0</div>
                  <img src="../../assets/icon/minus.png"/>
                </div>
                <div class="psws-three">$</div>                
               <input 
                  class="input" 
                  type="text"
                  style="margin-bottom:0px !important;" 
                  placeholder="206"
                  />
               </div>             
                  <div class="container" style="height: 150px !important;"> 
                     <div style="margin:20px;">
                         <div class="tag-out">PLAY UNLIMITED SOCCER</div>
                           <div class="address-out">For as little as 40/Week </div>
                           <div class="button-div-out">
                          <button class="button-out">SUBSCRIBE NOW</button>
                       </div>
                     </div>
                   </div> 
                </ion-content>
            <ion-footer class="ion-no-border">
         <ion-toolbar>
       <button class="button">NEXT</button> 
   </ion-toolbar>
 </ion-footer>


